<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">

</head>
<body>

	<div class="jumbotron"></div>
	<div >
	<img src="{% static 'graphs/essence_elbow.jpg' %}" class="graph1">
	<img src="{% static 'graphs/essence_clusters.jpg' %}" class="graph1">
	</div>
	<div >
		<div class="jumbotron">
				<h1>Data Analysis</h1>

				Total number of customers : <br>
				Suggested Number of Clusters :	<br>
				Selected Number of Clusters : <br>
				Results Summary : 	<br>




		</div>
	</div>



</body>
</html>
